<nav class="sidebar">

  <img src="/imagenes/LogoWeb-removebg-preview.png" alt="">


  <ul class="sidebar__menu">
    <h3 class="sidebar__link">"Mercado libre"</h3>
    <li class="sidebar__item">
      <a routerLink="/Dashboard" routerLinkActive="active" class="sidebar__link">Dashboard</a>
    </li>
    <li class="sidebar__item">
      <a routerLink="/Inventory" routerLinkActive="active" class="sidebar__link">Productos</a>
    </li>
    <li class="sidebar__item">
      <a routerLink="/Clientes" routerLinkActive="active" class="sidebar__link">Clientes</a>
    </li>
    <li class="sidebar__item">
      <a routerLink="/Sales" routerLinkActive="active" class="sidebar__link">Ventas</a>
    </li>
  </ul>

  <div class="sidebar__actions">
    <a routerLink="/Perfil" routerLinkActive="active" class="sidebar__link"> Mi Perfil </a>
    <a routerLink="/CentroComunicacion" routerLinkActive="active" class="sidebar__link">Centro de Comunicación</a>
  </div>
</nav>