$color-darkest:  #1F2326;
$color-dark:     #3A3F44;
$color-medium:   #6B645B;
$color-light:    #B8B0A3;
$color-lightest: #D8C9B6;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  //PARA COMPONENTES:
  --var-margin-left: 280px;
}