
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  //PARA COMPONENTES:
  --var-margin-left: 280px; 

  //PARA HOME:
  --color-primary: #0f766e;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
  --color-bg-surface: #ffffff;
  --space-lg: 0.5rem;
}